<h2>Search Categories</h2>
<ul>
  <li><a href="/actions" data-link>Actions</a></li>
  <li><a href="/backgrounds" data-link>Backgrounds</a></li>
  <li><a href="/classes" data-link>Classes</a></li>
  <li><a href="/conditions" data-link>Conditions</a></li>
  <li><a href="/feats" data-link>Feats</a></li>
  <li><a href="/items" data-link>Items</a></li>
  <li><a href="/languages" data-link>Languages</a></li>
  <li><a href="/optional-features" data-link>Optional Features</a></li>
  <li><a href="/races" data-link>Races</a></li>
  <li><a href="/senses" data-link>Senses</a></li>
  <li><a href="/skills" data-link>Skills</a></li>
  <li><a href="/spells" data-link>Spells</a></li>
  <li><a href="/variant-rules" data-link>Variant Rules</a></li>
</ul>
