<h2>Search Categories</h2>
<ul>
  <li><a href="/search/actions" data-link>Actions</a></li>
  <li><a href="/search/backgrounds" data-link>Backgrounds</a></li>
  <li><a href="/search/bestiary" data-link>Bestiary</a></li>
  <li><a href="/search/classes" data-link>Classes</a></li>
  <li><a href="/search/conditions" data-link>Conditions</a></li>
  <li><a href="/search/feats" data-link>Feats</a></li>
  <li><a href="/search/items" data-link>Items</a></li>
  <li><a href="/search/items-base" data-link>Base Items</a></li>
  <li><a href="/search/languages" data-link>Languages</a></li>
  <li><a href="/search/magicvariants" data-link>Magic Variants</a></li>
  <li><a href="/search/objects" data-link>Objects</a></li>
  <li><a href="/search/optionalfeatures" data-link>Optional Features</a></li>
  <li><a href="/search/races" data-link>Races</a></li>
  <li><a href="/search/senses" data-link>Senses</a></li>
  <li><a href="/search/skills" data-link>Skills</a></li>
  <li><a href="/search/spells" data-link>Spells</a></li>
</ul>
